# Compiled binaries
/tinymem

# Ignore local release artifacts
build/releases/

# OS-specific files
.DS_Store

# Project-specific data directories
.tinyMem/
.gemini/
.claude/
tasks.md
Makefile
.aider*
tinyTasks.md
